<ion-view view-title="About Us">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content id="about">
      <p style="text-align: center">This is a beta mobile version of an ʔayʔaǰuθəm wordlist - an initial step in creating the ʔayʔaǰuθəm/English Online Dictionary. The dictionary is a joint project of the communities who share ʔayʔaǰuθəm as their traditional language: Tla̓amin, Homalco, Klahoose and Comox, and is being developed in collaboration with UBC. The project is supported through a SSHRC Insight grant to Henry Davis, Professor of Linguistics at UBC.</p><br/>
        <p style="text-align: center"> We'd love to hear from you! Please email us with any comments, suggestions, or corrections at mebhuijs@alumni.ubc.ca</p><br/>
        
        <dl style="text-align: center">
            <div class="contributors">
                <dd>© 2016 ʔayʔaǰuθəm Dictionary Project</dd>
            </div>
        </dl>
  </ion-content>
</ion-view>