<ion-modal-view>
    <ion-header-bar>
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="closeModal('flashInfo')"></a>
      <h1 class="title">Info</h1>
    </ion-header-bar>
    <ion-content class="info">
     <p class="info">Select a deck to choose which flash cards you would like to use</p></br>
    <p class="info">The counter on the left shows where in the deck you are</p></br>
<p class="info">Click on the arrow icon to see the other side of the card</p></br>
    </ion-content>
  </ion-modal-view>