<ion-modal-view>
    <ion-header-bar>
        <a class="button button-icon icon ion-ios-arrow-back" ng-click="closeModal('searchInfo')"></a>
      <h1 class="title">Info</h1>
    </ion-header-bar>
    <ion-content class="info">
     <p class="info">If the word that you want to type is an English word, then click on the "Search in English" button, if the word that you want to type is a {{name}} word, then click on the "Search in {{name}}" button. You'll know which search language you've selected by the checkmark that will appear to the left of either language.</p></br>
    <p>This dictionary gives approximate searches, meaning that if you look up a word, it will find all words that are <u>spelled</u> similarly to that word. It won't necessarily find words that are similar in meaning though, so be careful!</p>
    </ion-content>
  </ion-modal-view>